<div class="vertical-menu">

            <div data-simplebar class="h-100">

                <div class="navbar-brand-box">
                    <a href="/main" class="logo">
                        <h2>数据分析平台</h2>
                    </a>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">系统功能</li>

                        <li>
                            <a href="/main" class="waves-effect"><i class='bx bx-home-smile'></i><span class="badge badge-pill badge-primary float-right">3</span><span>首页</span></a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-cookie"></i><span>系统管理</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/userlist">用户管理</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-table"></i><span>采集数据管理</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/joblist">职位数据管理</a></li>
                                <li><a href="/jobchart">职位数据可视化</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-doughnut-chart"></i><span>数据可视化</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/jobsalarybyjobtype">不同职位薪资对比图</a></li>
                                <li><a href="/jobcountbyjobtype">职位数量对比图</a></li>
                                <li><a href="/jobcountbyjobcity">职位数据分布图</a></li>
                                <li><a href="/jobcitycontrast">职位地区比例图</a></li>
                                <li><a href="/jobcityandjobtype">地区和工种比例图</a></li>
                                <li><a href="/jobsalarybyjobcity">地区和薪酬对比图</a></li>
                            </ul>
                        </li>



                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>